<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DBMailProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DBMailPackage</display-name>
    <servlet-name>DBMailPackage</servlet-name>
    <servlet-class>UserHandler.DBMailPackage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBMailPackage</servlet-name>
    <url-pattern>/DBMailPackage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WriteHandler</display-name>
    <servlet-name>WriteHandler</servlet-name>
    <servlet-class>DBMailPackage.WriteHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteHandler</servlet-name>
    <url-pattern>/WriteHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InboxHandler</display-name>
    <servlet-name>InboxHandler</servlet-name>
    <servlet-class>DBMailPackage.InboxHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InboxHandler</servlet-name>
    <url-pattern>/InboxHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignInHandler</display-name>
    <servlet-name>SignInHandler</servlet-name>
    <servlet-class>DBMailPackage.SignInHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignInHandler</servlet-name>
    <url-pattern>/SignInHandler</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>DBMailPackage.ContextListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>SignUpHandler</display-name>
    <servlet-name>SignUpHandler</servlet-name>
    <servlet-class>DBMailPackage.SignUpHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpHandler</servlet-name>
    <url-pattern>/SignUpHandler</url-pattern>
  </servlet-mapping>
</web-app>