.navbar{
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 0px;
	right: 0px;
	background-color: #00796b;
	background: linear-gradient(#01579b,#0288d1);
	/*background: linear-gradient(#004d40,#00695c,#00796b);*/
}
.dbmail_logo{
	height: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}
.sub_navbar_bottom{
	position: fixed;
	bottom:0px;	
	box-shadow: 0px 1px 20px rgba(0,0,0,0.6);
	left: 0px;
	right: 0px;
	padding: 0px;
	background-color: #e9eaed;
	border-bottom: 1px solid rgb(240,240,240);
}
.sub_navbar{
	/*position: fixed;*/
	left: 0px;
	/*height: 50px;*/
	right: 0px;
	padding: 0px;
	/*padding: 0px 43px;*/
	background-color: #e9eaed;
	border-bottom: 1px solid rgb(240,240,240);
}
.bottom_navbar{
	left: 0px;
	right: 0px;
	padding: 30px;
	margin-bottom: 0px;
	color: #000000;
	background-color: #f1f1f1;
	/*rgb(44,62,80);*/
}
.bottom_navbar_panel{
	display: inline-block;
	width: 100%;
	text-align: center;
}
.bottom_navbar_title{
	text-align: center;
	padding: -10px 0px 10px 0px;
	font-size: 21px;
	width: 100%;
}
.credits_navbar{
	left: 0px;
	right: 0px;
	position: fixed;
	bottom: 0px;
	padding: 10px;
	text-align: center;
	color: #ffffff;
	background-color: rgb(35,49,64);
}
.creator_block{
	float: left;
	padding: 10px;
	width: 29%;
	text-align: center;
}
.creator_name{
	font-weight: bold;
	font-size: 19px;
}
.creator_image{
	width: 150px;
	height: 150px;
	border-radius: 50px;
	margin-bottom: 10px;
}

@media all and (max-width: 600px){
	.creator_block{
		width: 100%;
	}	
}

.navigation_menu{
	padding: 0px!important;
	font-size: 0px;
}
.navigation_menu li{
	display: inline-block;
	font-size: 15px;
	/*padding: 0px 20px;*/
	padding: 0px!important;
	margin: 0px!important;
}
.navigation_menu li a{
	padding: 0px!important;
}
.navigation_menu li:hover{
	background-color: rgba(252,255,253,0.4);
}
.navigation_table{
	padding: 0px 10px;
	margin-top: 0px;
	margin-bottom: 0px!important;
}
.navigation_table tr td{
	padding: 10px;
}
.navigation_table_active{
	/*border-bottom: 4px solid #bbbbbb;*/
	background-color: rgba(250,250,250,1);
}